.poi-label {
  font-family: inherit;
  font-size: 14px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 4px 8px;
  border-radius: 4px;
}

.poi-label:hover {
  cursor: pointer;
  color: #00ffff;
}
